.root {
  font-family: 'Inter', sans-serif;
  color: #A2A7B9;
  display:flex;
  flex-direction: column;
  background-color:#2B273B;
  border-radius: 8px;
  padding:0 10px;
}
.header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.label{
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size:12px;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.25px;
  align-items: center;
  flex: 1 1 100%;
  p {
    margin-left:4px;
  }
}
.switchContent {
  display:flex;
  flex: 1 1 100%;
  justify-content: flex-end;
}
.content{

}